/* ======================================= */
            /* COMMON CSS START */
/* ======================================= */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}


/* ======================================= */
            /* COMMON CSS END */
/* ======================================= */

body{
    background: #222222;
}

#main{
    position: absolute;
    width: 1440px;
    background: hsl(233, 47%, 7%);
    padding: 160px 165px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card{
    display: flex;
    background: hsl(244, 38%, 16%);
    width: 100%;
    border-radius: 10px;
}

.left_col{
    width: 50%;
}

.right_col{
    width: 50%;
}

/* ==== LEFT COLUMN FIRST ROW ==== */

.row_one{
    text-align: left;
    padding: 80px 70px;
}

.row_one h2{
    font-size: 35px;
    color: #fff;
    font-family: 'Inter', sans-serif;
    padding-bottom: 30px;
}

.row_one h2 span{
    color: #ab60dc;
}

.row_one p{
    font-size: 15px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    line-height: 20px;
    padding-right: 100px;    
}

/* ==== LEFT COLUMN SECOND ROW ==== */

.row_two{
    display: flex;
    text-align: left;
    padding: 0 70px 65px;
}

.col{
    padding-right: 65px;
}

.row_two:nth-child(3){
    padding-right: 0;
}

.col h4{
    color: #fff;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
}

.col h5{
    color: hsla(0, 0%, 100%, 0.75);
    text-transform: uppercase;
    padding-top: 6px;
}

/* ==== RIGHT COLUMN SECOND ROW ==== */

.right_col{
    display: flex;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.right_col img{
    width: 100%;
    max-width: 100%;
}

.right_col::after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(95, 28, 136, 0.5);

}

/* 

font-family: 'Lexend Deca', sans-serif;
font-family: 'Inter', sans-serif;

*/